{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-lg-6 col-md-8 mx-auto">
    <h1>«Мотоприключения»</h1>
    <p class="lead text-body-secondary">Когда впервые садишься на железного коня, то мир делится на "до" и "после". И далее начинаешь понемногу обследовать округу, расширяя географию поездок.
    Этот блог для тех, кто любит путешествовать на мотоцикле.</p>

    <a href="{% url 'blog:post_create' %}">Создать новую запись</a>
    <ul>
        {% for post in posts %}
        <li>
            <a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a>
            {% if post.is_published %} ✅ {% else %} ❌ {% endif %}
        </li>
        {% empty %}
        <li>Нет записей</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}